@import url('https://fonts.cdnfonts.com/css/amagro');
/* @import url('https://fonts.cdnfonts.com/css/josefin-sans'); 
font-family: 'Josefin Sans', sans-serif; */

html{
    scroll-behavior: smooth;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}


h2{ font-size: 30px;
    color:#202020;
    font-family: 'Amagro', sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    }


h3{ font-size: 50px;
    color:#202020;
    font-family: 'Amagro', sans-serif;
   
}
p{font-size: 20px;}

button{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #4f9ed0;
    border: none;
    color:#d1f3ec ;

}

button:hover { 
    background-color: #eb5187;
    cursor: pointer;
} 

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-image: linear-gradient(120deg, #f1f2f2 0%, #d1f3ec 100%);
    
}
.container{
    display: flex;
    margin-right:20px;
    margin: 0;
    height: 35px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    }


ul li {
    display: inline-block;
    padding: 0px 20px;
    }

header a {

    text-decoration: none;
    padding-right: 20px,30px;
    font-weight: bold;
    color: #202020 ;
    text-align: center;
    } 
 
#hero {
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background-image: url(assets/Imagen_9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

 h1 { font-size: 120px;
    color:#202020;
    font-family: 'Amagro', sans-serif;
    text-decoration: underline;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
    }

#nuestros-cursos {
    background-color: #f1f2f2;
    text-align: center;
}

.container3{
    width: 100%;
    height: auto;
    margin-top: 20px;
 }

.cursos{
    display: flex;
    justify-content: center;
}

.cartas{
    width: 100%;
    font-size:35px;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: #d1f3ec;
    }

img{ 
    /* height: 400px; */
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
    margin: auto;
    display: block;
}


#nuestros-produtos .container2{
    max-width: 1200px;
    width: 100%;

  }
#nuestros-productos{
    background-color: #f1f2f2;
    margin-top: 20px;
    text-align: center;
      

}

.galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  

}
.galeria img{
    width: 250px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    border-radius: 30px;

}
